
.Container {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--my-red);
    border-bottom: 1px solid white;
}


.linkBar ul {
    list-style-type: none;
    display: flex;
    gap: 15dvw;
    width: 80%;
    height: 30px;
    margin: 0;
    padding: 0;
    padding-left: 10dvw;
    height: 40px;
    
}

.linkBar ul li {
    display: flex;
    align-items: center;
}

.Link, .Link:visited {
    text-decoration: none;
    color: var(--my-black);
    margin: 0;
    padding: 0;
}

.navH4, .by {
   align-self: center;
}

.by {
    font-family: 'Fasthand', Tahoma;
    color: var(--my-black);
}

.lastLi {
    margin-left: auto;
    align-self: center;
}

.Search {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
}





