
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.Wrapper {
    width: 200px;
    height: 200px;
    background: url('../../images/loading.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    display: flex;
    filter: brightness(0.9);
    animation: loading 2s infinite;
}

.Loading {
    font-size: 26px;
    font-weight: 700;
    margin: auto;
    color: white;
}

