.App {
  text-align: center;
}


:root {
  --background-color: rgb(255, 177, 33);
  --my-black: rgb(15, 15, 15);
  --my-red: rgb(252, 14, 54);
  --purple-background: linear-gradient(21deg, rgba(129,59,123,1) 14%, rgb(218, 130, 210) 84%);
  --filters-height: 100%;
  --imagePreview: '';
  --box-shadow: -2px 3px 4px 4px rgba(15,15,15, 0.3);
  --name-size-var: '';
  --name-size-fix: '';
}
