.noShow {
    display: none;
}

.cardSection {
    max-width: 90dvw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.buttons {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    gap: 20px;
}

.backButton, .nextButton {
    display: flex;
    min-width: 70px;
    width: 70%;
    max-width: 200px;
    height: 40px;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 2px 2px black;
    background: linear-gradient(21deg, rgba(129,59,123,1) 14%, rgb(218, 130, 210) 84%);
    &:hover {
        cursor: pointer;
        background: linear-gradient(21deg, rgb(255, 255, 255) 14%, rgb(255, 255, 255) 84%);
    }
    &:active {
        background: linear-gradient(21deg, rgb(15, 15, 15) 14%, rgb(15, 15, 15) 84%);
        color: white;
    }
}

.index {
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    max-width: 90dvw;
}

.pages {
    margin-right: auto;
    font-size: 20px;
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.showing {
    margin-left: auto;
    white-space: nowrap;
}

#noShow {
    display: none;
}

#pagesTitle {
    margin-right: 5px;
}

#current {
    font-size: 24px;
    font-weight: 700;
    color: var(--my-red);
    &:hover {
        cursor: pointer;
    }
}

#linktopage {
    &:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) {
    .cardSection {
        margin-top: 40px;
    }
    .index {
        margin-top: 30px;
        row-gap: 7px;
    }
    .pages {
        margin: auto;
    }
    .showing {
        margin: auto;
    }
}