
.Container {
    display: grid;
    height: 500px;
    width: 100%;
    max-width: 400px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: left;
    margin-bottom: 20px;
}

.image {
    grid-column: 2 / 12;
    grid-row: 1 / 7;
    max-height: 500px;
    background: url('../../images/pikachu-in-pokeball.webp');
    background-position: 80% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    box-shadow: -2px 3px 4px 4px rgba(15,15,15, 0.3);
    filter: brightness(0.9);
}

.promoH1, .promoH3, .promoH4 {
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-left: 10px;
    max-width: 350px;
}

.promoH1 { 
    margin-top: 30px;
    grid-column: 2 / 10;
    grid-row: 1 / 2;
}

.promoH3 {
    margin-top: 20px;
    grid-column: 2 / 10;
    grid-row: 2 / 4;
}

.promoH4 {
    margin-top: 10px;
    grid-column: 2 / 10;
    grid-row: 5 / 6;
}

.createButton {
    display: flex;
    text-decoration: none;
    grid-column: 2 / 5;
    grid-row: 6 / 7;
    z-index: 3;
    margin-left: 15px;
    /* border: 1px solid rgb(9, 154, 238); */
    padding: 7px;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(33, 185, 122);
    color: white;
    background: linear-gradient(green,lightgreen);
    box-shadow: 0px -1px 2px 2px rgba(255, 255, 255, 0.562);
    &:hover {
        cursor: pointer;
        background: linear-gradient(lightgreen, green);
    }
}

.Container:after {
	content: '';
    grid-column: 2 / 5;
    grid-row: 6 / 7;
    z-index: 4;
    margin-left: 15px;
	height: 15px;
    border-radius: 5px;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.createText {
    margin: auto;
}