
.Container {  
    margin-bottom: 20px;
    text-align: left;
    display: grid;
    max-height: 350px;
    max-width: 700px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: -20px;
}

.firstParag {
    grid-column: 2 / 12;
    grid-row: 1 / 2;
    z-index: 4;
    font-weight: 900;
    text-shadow: -1px 1px white;
    font-size: clamp(16px, 3dvw, 1.5rem); 
}


.wrapper {
    grid-column: 4 / 12;
    grid-row: 2 / 4; 
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    z-index: 2;
}

.filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
    
}

.typeLabel {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
    font-weight: 900;
    text-shadow: -1px 1px white;
}

.originLabel {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: left;
    font-weight: 900;
    text-shadow: -1px 1px white;
}

.typeSelect {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.originSelect {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.orderBy {
    font-weight: 900;
    text-shadow: -1px 1px white;
}

.controls {
    display: flex;
    gap: 5px;
    align-items: right;
}

.reset {
    border: 1px solid brown;
    padding: 7px;
    margin-top: 10px;
    width: 90px;
    margin: 10px 5px 10px auto;
    border-radius: 5px;
    background-color: var(--my-red);
    color: white;
    text-align: center;
    &:hover {
        cursor: pointer;
        background-color: darkred;
    }
}

.reload {
    border: 1px solid rgb(16, 170, 62);
    padding: 7px;
    margin-top: 10px;
    width: 80px;
    margin: 10px 5px 10px auto;
    border-radius: 5px;
    background-color: rgb(74, 214, 74);
    color: white;
    text-align: center;
    &:hover {
        cursor: pointer;
        background-color: rgb(3, 141, 14);
    }
}

.filterImage {
    grid-column: 2 / 8;
    grid-row: 1 / 4;
    align-self: end;
    transform: scaleX(-1);
    z-index: 1;
}
